@model TraineeViewModel
@{
    ViewData["Title"] = "Details";
}
@*style="color: @Model.Color"*@
<div >
    <h1>@Model.Id </h1>
    <h1>@Model.Name </h1>
    <h1>@Model.CourseName </h1>
    <h1>@Model.Degree </h1>
</div>

